@using ContactManager.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

@model UserInfoViewModel

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            <table class="table table-bordered">
                <tr>
                    <td>@Html.LabelFor(model => model.UserName)</td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Roles)</td>
                    <td>@Html.DisplayFor(model => model.Roles)</td>
                </tr>
            </table>
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
